# Python/Jupyter
.ipynb_checkpoints/
.virtual_documents/
.idea/

## VSCode
*.code-workspace

# Unpublished Projects 
bp-interm-ds-bootcamp/
fastbook/
understanding-deep-learning-prince-book/
mathematics-for-ml-specialization-coursera/
ai-agents/
data-science/
deep-learning-best-practices-biogen-2025/
deep-learning-goodfellow-bengio-courville/
designing-ML-systems-book/
sc-claude-code-files/
stanford-cme295-transformers-llms/
genai-ae-vae/

# Published Project materials
ml-specialization-coursera/**/materials/
deep-learning-specialization-coursera/**/materials/

# Certificates
**/certificate/

# Misc
ISLP_website.pdf
global_ai_notes.md
